.footer-wrap {
    background: #1890ff;
}

.left {
    background: #1890ff;
    padding-top: 1.5%;
}

.right {
    padding-top: 1%;
    margin-bottom: 1%;
}

.footerRow {
    /* justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%; */
    position: absolute;
    top: 35%;
    left: 20%;
}

.linked {
    padding-top: 3%;
    padding-bottom: 3%;
}

.linkcon {
    height: 75px;
    width: 75px;
    cursor: pointer;
    margin: 0 auto;
}

.linkcon:hover {
    opacity: 0.4;
    transition: .5s;
}

.twit {
    padding-top: 3%;
    padding-bottom: 3%;
}

.twitcon {
    height: 75px;
    width: 75px;
    cursor: pointer;
    margin: 0 auto;
}

.twitcon:hover {
    opacity: 0.4;
    transition: .5s;
}

.gmail {
    padding-top: 3%;
    padding-bottom: 3%;
}

.gmail-icon {
    height: 75px;
    width: 75px;
    cursor: pointer;
    margin: 0 auto;
}

.gmail-icon:hover {
    opacity: 0.4;
    transition: .5s;
}

#twitter-footer:hover {
    transition: .5s;
    color: #003a8c;
}